venv/
**/venv/
__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.pyd
*.log
.git/
.gitignore
.ipynb_checkpoints/
*.ipynb
README.md
interface/
chunks/
core/
generation/
prepration/
retrieval/
static/
hf_cache/